@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
@font-face { font-family: 'Lifehack-Medium'; src: url("../fonts/Lifehack/Lifehack-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lifehack/Lifehack-Medium.otf") format("opentype"), url("../fonts/Lifehack/Lifehack-Medium.woff") format("woff"), url("../fonts/Lifehack/Lifehack-Medium.ttf") format("truetype"), url("../fonts/Lifehack/Lifehack-Medium.svg#Lifehack-Medium") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Gagalin-Regular'; src: url("../fonts/Gagalin/Gagalin-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gagalin/Gagalin-Regular.otf") format("opentype"), url("../fonts/Gagalin/Gagalin-Regular.woff") format("woff"), url("../fonts/Gagalin/Gagalin-Regular.ttf") format("truetype"), url("../fonts/Gagalin/Gagalin-Regular.svg#Gagalin-Regular") format("svg"); font-weight: normal; font-style: normal; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { margin: 0; padding: 0; font-size: 1rem; font-family: 'Ubuntu', Arial, Helvetica, sans-serif; line-height: 1.42; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

body, html { height: 100%; }

.wrapper { width: 100%; height: 100%; position: relative; }

.container { padding: 0 0.625rem; max-width: 58.75rem; margin: 0 auto; }

.section { height: 100vh; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; background-color: rgba(0, 0, 0, 0.31); min-height: 40.625rem; }

.button { color: #fff; background-color: #e45028; text-decoration: none; padding: 0.625rem 1rem; border-radius: 0.3125rem; text-transform: uppercase; display: inline-block; font-size: 0.8125rem; font-weight: 500; cursor: pointer; outline: none; border: none; }

.title { font-family: "Gagalin-Regular"; font-size: 4.5rem; line-height: 4rem; color: #f9b43b; margin-bottom: 1.25rem; }

@media (max-width: 47.9375rem) { .title { font-size: 3.125rem; } }

@media (max-width: 29.9375rem) { .title { font-size: 3.125rem; line-height: 3.75rem; } }

.header { padding: 0.75rem 0; position: absolute; top: 0; left: 0; right: 0; z-index: 10; }

.header__inner { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.header__logo { margin-right: auto; }

@media (max-width: 47.9375rem) { .navbar { display: none; } }

.navbar__items { padding: 0; margin-right: 1.25rem; list-style: none; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.navbar__item { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.navbar__item:not(:last-child):after { content: ""; display: inline-block; height: 0.25rem; width: 0.25rem; background: #fff; border-radius: 50%; margin: 0 1rem; }

.navbar__link { color: #fff; font-size: 0.8125rem; text-transform: uppercase; text-decoration: none; font-weight: 500; }

.navbar__link:hover { text-decoration: underline; }

.nav { padding: 0; margin: 0; list-style: none; position: fixed; top: 15%; right: 1.875rem; z-index: 10; }

.nav__link { display: block; padding: 0.25rem; margin: 0.1875rem; border: 0.0625rem solid transparent; border-radius: 50%; }

.nav__link:after { content: ""; display: block; width: 0.375rem; height: 0.375rem; background: #fff; border-radius: 50%; }

.nav__link_active { border-color: #fff; }

.about { background: url("../images/header.png") no-repeat 50% 50%; background-size: cover; position: relative; }

.about:before { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url("../images/texture.png") repeat; }

.about__inner { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: relative; }

@media (max-width: 47.9375rem) { .about__inner { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; } }

@media (max-width: 29.9375rem) { .about__inner { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; } }

.about__photo { width: 50%; height: auto; }

.about__description { width: 50%; }

@media (max-width: 47.9375rem) { .about__description { text-align: center; width: 80%; } }

.about__text { font-family: "Lifehack-Medium"; color: #fff; font-size: 4.0625rem; line-height: 0.95; }

@media (max-width: 29.9375rem) { .about__text { font-size: 3.125rem; } }

.button-next { position: absolute; left: 50%; bottom: 1.875rem; -webkit-transform: translateX(-50%) rotate(45deg); -ms-transform: translateX(-50%) rotate(45deg); transform: translateX(-50%) rotate(45deg); height: 1.125rem; width: 1.125rem; border-right: 0.1875rem solid #fff; border-bottom: 0.1875rem solid #fff; }

.title_best { text-align: center; margin-bottom: 5.625rem; color: #2f3234; }

@media (max-width: 29.9375rem) { .title_best { font-size: 3.125rem; margin-bottom: 0.625rem; } }

.best { background: url(../images/the-best.png) no-repeat 50% 50%; background-size: cover; }

@media (max-width: 29.9375rem) { .best__item-photo { width: 15%; height: auto; } }

@media (max-width: 29.9375rem) { .best__item-content { width: 80%; } }

.best__about { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; text-align: center; -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin: 0 -0.625rem; }

@media (max-width: 29.9375rem) { .best__about { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; } }

.best__item { text-align: center; width: 33.33334%; padding: 0 0.625rem; }

@media (max-width: 29.9375rem) { .best__item { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; text-align: left; } }

.best__item-title { font-family: 'Lifehack-Medium'; font-size: 1.5rem; font-weight: 300; color: #2f3234; margin-top: 1.875rem; margin-bottom: 0.9375rem; }

.best__item-info { font-family: 'Ubuntu'; font-size: 0.875rem; line-height: 1.5625rem; color: #787776; font-weight: 400; line-height: 1.5rem; }

@media (max-width: 29.9375rem) { .best__item-info { line-height: 1; } }

.reviews { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.review { background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; width: 25%; height: 50%; position: relative; }

@media (max-width: 47.9375rem) { .review { width: 50%; height: 25%; } }

.review__info { opacity: 0; padding: 1.875rem; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.5); -webkit-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; }

@media (max-width: 47.9375rem) { .review__info { padding: 0.3125rem 1.875rem; text-align: center; } }

@media (max-width: 29.9375rem) { .review__info { padding: 1.25rem 0.9375rem; } }

.review:hover .review__info { opacity: 1; }

.review__title { font-family: 'Gagalin-Regular'; font-size: 0.875rem; line-height: 1.75rem; text-transform: uppercase; color: #fff; font-weight: 400; margin: 0 0 1.25rem; }

@media (max-width: 47.9375rem) { .review__title { margin: 0; } }

@media (max-width: 29.9375rem) { .review__title { padding-bottom: 2.5rem; } }

.review__text { font-family: 'Ubuntu'; font-weight: 300; font-size: 0.875rem; line-height: 1.5rem; color: #fff; margin: 0 0 0.625rem; }

@media (max-width: 47.9375rem) { .review__text { font-size: 0.75rem; line-height: 1.5; } }

@media (max-width: 29.9375rem) { .review__text { display: none; } }

.button_reviews { background-color: #2f3234; font-size: 0.8125rem; font-weight: 500; }

@media (max-width: 47.9375rem) { .button_reviews { padding: 0.5rem 0.625rem; font-size: 0.625rem; } }

ul { padding: 0; margin: 0; }

li { list-style: none; }

.team { background: url(../images/team.png) no-repeat 50% 50%; background-size: cover; position: relative; }

.team__content { width: 50%; position: absolute; top: 0; right: 0; bottom: 0; background: rgba(47, 50, 52, 0.93); padding: 5% 2% 0 7%; }

@media (max-width: 47.9375rem) { .team__content { text-align: center; padding: 0; width: 100%; } }

.title_team { margin-bottom: 12%; }

@media (max-width: 47.9375rem) { .team-acco__item { width: 50%; margin: 0 auto; } }

@media (max-width: 29.9375rem) { .team-acco__item { width: 100%; } }

.team-acco__content { display: none; margin-bottom: 5%; }

.team-acco__inner { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

@media (max-width: 47.9375rem) { .team-acco__inner { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; } }

.team-acco__pic { display: block; text-align: center; }

.team-acco__img { display: inline-block; vertical-align: top; width: 6.25rem; height: 6.25rem; background-size: cover; background-position: 50%; background-repeat: no-repeat; border-radius: 50%; }

.team-acco__name { text-decoration: none; color: #fff; font-family: 'Gagalin-Regular'; font-size: 0.875rem; line-height: 1.75rem; margin-bottom: 1.25rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; outline: 0; }

.team-acco__name:before { content: ""; height: 0; width: 0; border: 0.5625rem solid transparent; border-top-color: #f9b43b; border-bottom-width: 0; margin-right: 0.625rem; }

@media (max-width: 47.9375rem) { .team-acco__name { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; } }

.team-acco__item_active .team-acco__name { color: #f9b43b; }

.team-acco__item_active .team-acco__name:before { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }

.inform { margin-left: 0.625rem; width: 70%; }

@media (max-width: 47.9375rem) { .inform { margin-left: 0; margin-top: 0.625rem; } }

.inform__title { color: #fff; font-family: "Ubuntu"; font-weight: bold; margin-bottom: 0.9375rem; }

.inform__content { color: #fff; font-size: 0.875rem; line-height: 1.5rem; font-family: "Ubuntu"; font-weight: 300; }

.menu { background: url(../images/menu.png) no-repeat 50% 50%; background-size: cover; position: relative; }

.menu__kinds { padding: 0; margin: 0; list-style: none; position: absolute; top: 0; right: 0; bottom: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }

.title_menu { position: absolute; top: 0; right: 0; bottom: 0; left: 5.9375rem; margin: 5.625rem 0; color: #fff; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.kind { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.kind__title { background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; height: 100%; width: 5rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

@media (max-width: 29.9375rem) { .kind__title { width: 2.5rem; } }

.kind__title-inner { -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); white-space: nowrap; font-family: "Gagalin-Regular"; font-size: 2.5rem; color: #fff; }

@media (max-width: 29.9375rem) { .kind__title-inner { font-size: 1.25rem; } }

.kind__text { background: rgba(47, 50, 52, 0.93); font-family: "Ubuntu"; font-weight: 300; font-size: 0.875rem; line-height: 1.5rem; color: #fff; max-width: 500px; width: 0; -webkit-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; }

.kind__text-inner { display: none; padding: 3.75rem 2.1875rem; }

@media (max-width: 29.9375rem) { .kind__text-inner { padding: 1.25rem 0.9375rem; line-height: 1; } }

.kind_active .kind__title-inner { color: #f9b43b; }

@-webkit-keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }

@keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }

.order { background: url(../images/order.png) no-repeat 50% 50%; background-size: cover; position: relative; }

.title_order { text-align: center; margin-bottom: 5rem; }

@media (max-width: 47.9375rem) { .title_order { margin-bottom: 2.5rem; } }

@media (max-width: 29.9375rem) { .title_order { margin-bottom: 0.9375rem; } }

@media (max-width: 47.9375rem) { .order-form { width: 70%; margin: 0 auto; } }

@media (max-width: 29.9375rem) { .order-form { width: 100%; } }

.order-form__row { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -0.625rem; }

@media (max-width: 29.9375rem) { .order-form__col { text-align: center; } }

.order-form__row > .order-form__col, .order-form__row > .order-form__group { width: 100%; padding: 0 0.625rem; }

.order-form__row_w_50 > .order-form__col, .order-form__row_w_50 > .order-form__group { width: 50%; }

@media (max-width: 47.9375rem) { .order-form__row_w_50 > .order-form__col { width: 100%; } }

.order-form__row_w_25 > .order-form__col, .order-form__row_w_25 > .order-form__group { width: 25%; }

.order-form__group { display: block; margin-bottom: 0.9375rem; }

.order-form__label { margin-bottom: 0.3125rem; color: #fff; font-size: 0.875rem; line-height: 1.5rem; font-family: "Ubuntu"; font-weight: 300; }

.order-form__input { display: block; width: 100%; border: none; height: 2.1875rem; border-radius: 0.3125rem; outline: 0; padding: 0.625rem; }

.order-form__input_type_textarea { height: 7.1875rem; resize: none; }

@media (max-width: 47.9375rem) { .order-form__input_type_textarea { height: 5rem; } }

.order-form__radio-group:not(:last-child) { margin-right: 1.25rem; }

.order-form__radio { margin-right: 0.3125rem; }

.order-form__radio-title { color: #fff; font-size: 0.875rem; line-height: 1.5rem; font-family: "Ubuntu"; font-weight: 300; position: relative; padding-left: 1.875rem; margin-right: 0.625rem; cursor: pointer; -webkit-transition: .5s; -o-transition: .5s; transition: .5s; }

@media (max-width: 29.9375rem) { .order-form__radio-title { font-size: 0.6875rem; } }

.order-form__radio-title:before { position: absolute; display: inline-block; content: ""; border-radius: 50%; width: 1rem; height: 1rem; background: #fff; left: 0; top: -0.125rem; }

.order-form__radio-title_elem:before { border-radius: 0.125rem; }

.order-form__radio-title:after { position: absolute; display: inline-block; content: ""; width: 0.5rem; height: 0.5rem; border-radius: 50%; background: red; top: 0.125rem; left: 0.25rem; -webkit-transition: .5s; -o-transition: .5s; transition: .5s; opacity: 0; }

.order-form__radio-title_elem:after { background: url(../images/check.svg) 50% no-repeat; background-size: contain; width: 0.75rem; height: 0.75rem; top: 0px; left: 0.125rem; }

.order-form__radio:checked + .order-form__radio-title:after { opacity: 1; }

.order-form__radio:checked + .order-form__radio-title_elem:after { opacity: 1; }

.visually-hidden { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 0.0625rem; width: 0.0625rem; margin: -0.0625rem; padding: 0; border: 0; }

.button_btn { font-size: 0.8125rem; font-family: "Ubuntu"; font-weight: medium; }

.button_reset { background-color: transparent; text-transform: none; font-size: 0.875rem; line-height: 1.5rem; font-family: "Ubuntu"; font-weight: 300; }

.contacts { position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; padding: 0; margin: 0; }

.contacts-map { width: 100%; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }

.footer { background: url(../images/footer.png) no-repeat 50% 50%; background-size: cover; padding: 1.25rem 0; width: 100%; }

.footer-container { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

@media (max-width: 29.9375rem) { .footer-container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; } }

.address { width: 50%; }

@media (max-width: 29.9375rem) { .address { text-align: center; width: 100%; } }

.address__addres { color: #fff; font-size: 0.875rem; line-height: 1.5rem; font-family: "Ubuntu"; font-weight: 300; font-style: normal; }

@media (max-width: 29.9375rem) { .address__addres { font-size: 0.75rem; } }

.address__phone { display: -webkit-inline-box; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; }

.address__phone-icon { margin-right: 0.3125rem; }

.address__phone-number { color: #e45028; font-size: 0.875rem; line-height: 1.5rem; font-family: "Ubuntu"; font-weight: bold; text-decoration: none; }

.icons { width: 50%; text-align: right; margin-bottom: 0; }

@media (max-width: 29.9375rem) { .icons { text-align: center; width: 100%; } }

.icons__socials { padding: 0; margin: 0; list-style: none; }

@media (max-width: 29.9375rem) { .icons__socials { margin-top: 0.625rem; } }

.icons__socials-inner { display: inline-block; vertical-align: middle; margin-left: .625rem; width: 1.25rem; height: 1.25rem; }

.icons__socials-inner:not(:last-child) { margin-right: 1.25rem; }

.icons__socials-link { display: inline-block; max-width: 1.4375rem; max-height: 1.25rem; -webkit-transition: .3s; -o-transition: .3s; transition: .3s; }

.icons__socials-svg { display: inline-block; vertical-align: middle; margin-left: 10px; fill: #575757; width: 1.5625rem; height: 1.5625rem; }

.icons__socials-svg:hover { fill: #fff; }

.icons__socials-svg:first-child { margin-left: 0; }

.title_slider { color: #fff; }

.slider { background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(#eb8c38), to(#f9b33b)); background: -webkit-linear-gradient(top, #f9b43b, #eb8c38, #f9b33b); background: -o-linear-gradient(top, #f9b43b, #eb8c38, #f9b33b); background: linear-gradient(180deg, #f9b43b, #eb8c38, #f9b33b); }

.slider__inner { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; position: relative; }

@media (max-width: 47.9375rem) { .slider__inner { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; text-align: center; } }

.slider__photo { width: 50%; height: auto; }

@media (max-width: 47.9375rem) { .slider__photo { margin: 0 auto; } }

.slider__text { font-family: 'Ubuntu'; font-weight: 300; font-size: 0.875rem; line-height: 1.5rem; color: #fff; margin-top: 3.125rem; }

@media (max-width: 47.9375rem) { .slider__text { text-align: center; } }

@media (max-width: 29.9375rem) { .slider__text { margin-bottom: 0; margin-top: 0; } }

.slider__options { display: block; margin-top: 2.5rem; }

.slider__options-left { display: inline-block; vertical-align: middle; }

.slider__options-left-price { display: inline-block; font-family: 'Gagalin-Regular'; font-size: 4.5rem; line-height: 1.75rem; color: #e35028; }

@media (max-width: 47.9375rem) { .slider__options-left-price { font-size: 3.75rem; } }

@media (max-width: 29.9375rem) { .slider__options-left-price { font-size: 2.5rem; } }

.slider__options-left-currency { display: inline-block; font-family: 'Gagalin-Regular'; font-size: 1.875rem; line-height: 1.75rem; color: #e35028; }

@media (max-width: 47.9375rem) { .slider__options-left-currency { font-size: 1.5625rem; } }

@media (max-width: 29.9375rem) { .slider__options-left-currency { font-size: 0.9375rem; } }

.button_slider { vertical-align: bottom; display: inline-block; margin-left: 2rem; }

@media (max-width: 29.9375rem) { .button_slider { font-size: 0.75rem; } }

/*# sourceMappingURL=main.css.map */