
.contacts{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin:0;
}
.contacts-map{
    width: 100%;
    flex: 1;

}

.footer{
    background: url(../images/footer.png) no-repeat 50% 50%;
    background-size: cover;
    padding: rem(20px) 0;
    width: 100%;
}


.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    @media(max-width:rem(479px)){
        flex-direction: column;
    }
}

.address{
    width: 50%;

    @media(max-width:rem(479px)){
        text-align: center;
        width: 100%;
    }

    &__addres{
        color:#fff;
        font-size: rem(14px);
        line-height: rem(24px);
        font-family: "Ubuntu";
        font-weight: 300;
        font-style: normal;

        @media(max-width:rem(479px)){
           font-size: rem(12px);
        }
    }

    &__phone{
        display: inline-flex;
    }

    &__phone-icon{
        margin-right: rem(5px);
    }

    &__phone-number{
        color: #e45028;
        font-size: rem(14px);
        line-height: rem(24px);
        font-family: "Ubuntu";
        font-weight: bold;
        text-decoration: none;
    }
}

.icons{
    width: 50%;
    text-align: right;
    margin-bottom: 0;

    @media(max-width:rem(479px)){
        text-align: center;
        width: 100%;
        }

    &__socials{
       padding: 0;
       margin:0;
       list-style: none;

       @media(max-width:rem(479px)){
        margin-top: rem(10px); 
        }
    }
    

    &__socials-inner{
        display: inline-block;
        vertical-align: middle;
        margin-left: .625rem;
        width: 1.25rem;
        height: 1.25rem;
        
        &:not(:last-child){
            margin-right:rem(20px);
        }
    }

    &__socials-link{
        display: inline-block;
        max-width: 1.4375rem;
        max-height: 1.25rem;
        transition: .3s;
    }

    &__socials-svg{
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        fill: #575757;
        width: rem(25px);
        height: rem(25px); 
        
        &:hover {
              fill:#fff; 
        }
        
         &:first-child {
        margin-left: 0; 
        }
}
}

