.menu{
    background: url(../images/menu.png) no-repeat 50% 50%;
    background-size: cover;
    position:relative;

    &__title{
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left: rem(95px);
        font-family: 'Gagalin';
        font-size: rem(72px);
        line-height: rem(64px);
        margin: rem(90px) 0;
        color: #fff;
        display:flex;
    }

    &__kinds{
        padding: 0;
        margin: 0;
        list-style: none;
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        display: flex;
        justify-content: flex-end;
    }
}



.kind{
    display: flex;
    max-width: 50%;
    @media(max-width:rem(767px)){
        max-width: none;
    }

    &__title{
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        height: 100%;
        width: rem(80px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media(max-width:rem(479px)){
            width: rem(50px);
        }
    }

    &__title-inner{
        transform: rotate(-90deg);
        white-space: nowrap;
        font-family: "Gagalin";
        font-size: rem(40px);
        line-height: rem(64px);
        color: #fff;

        @media(max-width:rem(479px)){
            font-size: rem(30px);
        }
       

    }

    &__text{
        background: rgba(#2f3234, 0.93);
        padding: rem(60px) rem(35px);
        font-family: "Ubuntu";
        font-weight: 300;
        font-size: rem(14px);
        line-height: rem(24px);
        color: #fff;

        @media(max-width:rem(479px)){
            padding: rem(20px) rem(15px);
        }
    }

    &:not(&_active) &__text {
        display: none;
        
    }

    &_active &__title-inner{
            color: #f9b43b;
    }
    
}