.title_slider{
    color: #fff;
}

.slider{
    background: linear-gradient(180deg, #f9b43b, #eb8c38,#f9b33b);
    

    &__inner{
        display: flex;
        position: relative;

        @media(max-width: rem(767px)){
            flex-direction: column;
            text-align: center;

        }
    }

    &__photo{
        width: 50%;
        height: auto;
        

        @media(max-width: rem(767px)){
            margin: 0 auto;
        }
        
    }

    &__text{
        font-family: 'Ubuntu';
        font-weight: 300;
        font-size: rem(14px);
        line-height: rem(24px);
        color: #fff;
        margin-top: rem(50px);

        @media(max-width: rem(767px)){
            text-align: center;

        }

        @media(max-width: rem(479px)){
            margin-bottom: 0;
            margin-top: 0;

        }

    }

    &__options{
        display: block;
        margin-top: rem(40px);

    }

    &__options-left{
        display: inline-block;
        vertical-align: middle;
    }

    &__options-left-price{
        display: inline-block;
        font-family: 'Gagalin-Regular';
        font-size: rem(72px);
        line-height: rem(28px);
        color: #e35028;

        @media(max-width:rem(767px)){
            font-size: rem(60px);
        }
        @media(max-width:rem(479px)){
            font-size: rem(40px); 
            }
       
    }

    &__options-left-currency{
        display: inline-block;
        font-family: 'Gagalin-Regular';
        font-size: rem(30px);
        line-height: rem(28px);
        color: #e35028;

        @media(max-width:rem(767px)){
            font-size: rem(25px);
        }
        @media(max-width:rem(479px)){
            font-size: rem(15px); 
            }
       
    }
}

.button_slider{
    vertical-align: bottom;
    display: inline-block;
    margin-left: rem(32px);

    @media(max-width:rem(479px)){
        font-size: rem(12px); 
        }
}

