ul {
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

.team{
    background: url(../images/team.png) no-repeat 50% 50%;
    background-size: cover;
    position: relative;

    &__content{
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(#2f3234,0.93);
        padding: 5% 2% 0 7%;

        @media(max-width:rem(767px)){
            text-align: center;
            padding: 0;
            width: 100%;
        }
    }
}

.title_team{
    margin-bottom: 12%;
}

.team-acco{

    &__item{
    
    @media(max-width:rem(767px)){
        width: 50%;
        margin: 0 auto;
    }

    @media(max-width:rem(479px)){
        width: 100%;

    }
    }

    &__content {
        display: none;
        margin-bottom: 5%;
    }

    &__inner{
    display: flex;
   

    @media(max-width:rem(767px)){
    flex-direction: column;
    align-items: center;
    }
    }

    &__pic{
        display: block;
        text-align: center;
    }

    &__img{
        display: inline-block;
        vertical-align: top;
        width: rem(100px);
        height: rem(100px);
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        border-radius: 50%;
    }

    &__name{
    
    text-decoration: none;
    color: #fff;
    font-family: 'Gagalin-Regular';
    font-size: rem(14px);
    line-height: rem(28px);
    margin-bottom: rem(20px);
    display: flex;
    align-items: center;
    outline: 0;

        &:before{
            content: "";
            height: 0;
            width: 0;
            border: rem(9px) solid transparent;
            border-top-color: #f9b43b;
            border-bottom-width: 0;
            margin-right: rem(10px);
        }

    
    @media(max-width:rem(767px)){
        justify-content: center;
        }
    }

    &__item_active &__name {
        color:#f9b43b;

        &:before{
            transform: rotate(-180deg);
        }
    }
}


.inform{
    margin-left: rem(10px);
    width: 70%;

    @media(max-width:rem(767px)){
        margin-left: 0;
        margin-top: rem(10px);
        }

    &__title{
    color: #fff;
    font-family: "Ubuntu";
    font-weight: bold;
    margin-bottom: rem(15px);
    }

    &__content{
    color:#fff;
    font-size:rem(14px);
    line-height: rem(24px);
    font-family: "Ubuntu";
    font-weight: 300;
    }
}

