
.the-best{
    background: url(../images/the-best.png) no-repeat 50% 50%;
    background-size: cover;

    &__photo{
        @media(max-width:rem(479px)){
            width: 15%;
            height: auto;
            }
    }

    &__content{
        @media(max-width:rem(479px)){
            width: 80%;
            }
    }
    
    &__title{
    text-align: center;
    padding-top:rem(10px);
    font-family: 'Gagalin';
    font-size: rem(72px);
    line-height: rem(64px);
    position: relative;
    margin-bottom: rem(90px);
    color: #2f3234;


    @media(max-width:rem(479px)){
        font-size: rem(50px);
        margin-bottom: rem(50px);
        }
    }
    &__about{
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    margin: 0 rem(-10px);

    @media(max-width:rem(479px)){
        flex-direction: column;
        }
    }
}

.meat, .hand, .natural{
    text-align: center;
    width: 33.33334%;
    padding: 0 rem(10px);
    
    @media(max-width:rem(479px)){
        display: flex;
        width: 100%;
        justify-content: space-between;
        text-align: left;
        }
}

.title{
    font-family: 'Lifehack-Medium';
    font-size: rem(24px);
    font-weight: 300;
    color: #2f3234;

}
.the-best__info{
    font-family: 'Ubuntu';
    font-size: rem(14px);
    line-height: rem(25px);
    color: #787776;
    font-weight: 400;
    line-height: rem(24px);
}