@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

@font-face {
    font-family: 'Lifehack-Medium';
    src: url('../fonts/Lifehack/Lifehack-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lifehack/Lifehack-Medium.otf')  format('opentype'),
           url('../fonts/Lifehack/Lifehack-Medium.woff') format('woff'), url('../fonts/Lifehack/Lifehack-Medium.ttf')  format('truetype'), url('../fonts/Lifehack/Lifehack-Medium.svg#Lifehack-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Gagalin-Regular';
    src: url('../fonts/Gagalin/Gagalin-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gagalin/Gagalin-Regular.otf')  format('opentype'),
            url('../fonts/Gagalin/Gagalin-Regular.woff') format('woff'), url('../fonts/Gagalin/Gagalin-Regular.ttf')  format('truetype'), url('../fonts/Gagalin/Gagalin-Regular.svg#Gagalin-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
 }
